

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title grey "><%= link_to 'Click here to generate Superhero', root_path%></h3>
  </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
        <img src="<%= @avatar %>">
        <br/><br/>
        </div>
        <div class="col-md-4">
        <h3>Your superhero name is: <br/>
        <span class="red"><%= @hero_name %> </span>
        <br/></h3>
        <h3> Your superpower is: <br/>
        <span class="red"> <%= @hero_power %> </span>
        <br/><br/></h3>
        <hr>

        <h4> Your undercover day job is: <br/>
        <span class="corp_red"> <%= @corp_title  %> </span>
        <br/></h4>
        <h4> Your corporate superpower is: <br/>
        <span class="corp_red"><%= @corp_power %> </span>
        <br/><br/></h4>
        </div>
        <div class="col-md-4">

        </div>

      </div>
  </div>
  <div class="panel-footer"><%= link_to 'Create a whole superhero team', home_team_path%></div>
</div>
